# LaTeX intermediate files
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.fls
*.fdb_latexmk
*.snm
*.synctex.gz
*.nav
*.xdv
*.dvi

# Editors/IDE
*.swp
*.swo
.vscode/
.idea/
